fastapi
uvicorn[standard]
sse-starlette
langchain
langchain-core
langchain-text-splitters
langchain-openai
langgraph
langgraph-checkpoint
FlagEmbedding
qdrant-client
pydantic
python-dotenv
openpyxl
numpy
